.Rproj.user

###  old, logs, and temporal dir(ectories (s)
**/logs/
**/tmp/
**/old_scripts/
**/old/
**/recycler/

### SYmbolic links to Habenula multiome
processed-data/11_explore_WNN_Clusters_Visium/

### Big files

**/*.rds
**/*.RDS
**/*.Rdata
processed-data/04_harmony_BayesSpace/spe_qcED_spatialLIBD_log_GLM-PCA_hdf5/
processed-data/05_layer_differential_expression/spatialHb_model_results*

### Spaceranger raw data and symbolic links

processed-data/01_spaceranger/*
processed-data/Images/loupe-alignment/*.png
**/*.tif


### shiny app stuff

code/03_spatialLIBD_app/rsconnect/
code/03_spatialLIBD_app_pseudobulk/rsconnect/

### I think this is a back up of code/02_build_spe/
processed-data/01_spaceranger/02_build_spe/


###### directories to be removed at some point  ==============

# pilot samples containing just one slide

plots/02_build_spe/pilot_sample/

# RDS files with only the pilot sample

processed-data/02_build_spe/pilot/

###### ================================================================


#### snRNAseq annotationeference from human pilot

## models results for FDR<5% Top 25 in BS k16

processed-data/05_layer_differential_expression/spatialHb_model_results_FDR5perc_top25_k16.csv
processed-data/05_layer_differential_expression/spatialHb_model_results_FDR5perc_top25_k16_excel.csv


# Big files. RDS, RData, softlinks, etc

# processed-data/05_layer_differential_expression/
# processed-data/01_spaceranger/

_jhpce_org/
