.Rproj.user

# log files
code/01_spaceranger/logs/
code/04_harmony_BayesSpace/logs/


# sapeceranger pre-processed output data
code/01_spaceranger/

# I think this is a back up of code/02_build_spe/
processed-data/01_spaceranger/02_build_spe/

# RDS files with all the samples merged
processed-data/02_build_spe/spe*

# soft links 
code/03_spatialLIBD_app/spe_harmony.rds


###### This directories new to be removed at some point  ==============

# temporal file in plots
plots/02_build_spe/tmp/
processed-data/03_spatialLIBD_app/tmp/
plots/04_harmony_BayesSpace/BayesSpace_tmp/

# pilot samples containing just one slide
plots/02_build_spe/pilot_sample/

# RDS files with only the pilot sample
processed-data/02_build_spe/pilot/

###### ================================================================

# temporal directories used to test code
code/04_harmony_BayesSpace/tmp/
plots/04_harmony_BayesSpace/tmp/
processed-data/04_harmony_BayesSpace/tmp/

# big files in pre-processing 
*.rds

#processed-data/04_harmony_BayesSpace/top.hvgs.Rdata


 
